<div class='downloads-table'>
  <DownloadsTableHeaderRow />
  {{#each @allFiles as |file index|}}
    <DownloadsTableRow
      @fileId={{index}}
      @fileName={{file.name}}
      @device={{file.device}}
      @path={{file.path}}
      @status={{file.status}}
    />
  {{/each}}
</div>