<div data-test-downloads-table class='downloads-table'>
  <DownloadsTableHeaderRow />
  {{#each @allFiles as |file index|}}
    <DownloadsTableRow
      @fileId={{index}}
      @fileName={{file.name}}
      @device={{file.device}}
      @path={{file.path}}
      @status={{file.status}}
      @numSelectedFiles={{@numSelectedFiles}}
      @updateNumSelectedFiles={{@updateNumSelectedFiles}}
      @updateListOfDownloads={{@updateListOfDownloads}}
      @selectedFiles={{@selectedFiles}}
    />
  {{/each}}
</div>