<div class='file-downloader'>
  <FileDownloaderHeader
    @allFiles={{@allFiles}}
    @numSelectedFiles={{this.numSelectedFiles}}
    @updateNumSelectedFiles={{this.updateNumSelectedFiles}}
    @selectedFiles={{this.selectedFiles}}
  />
  <DownloadsTable
    @allFiles={{@allFiles}}
    @numSelectedFiles={{this.numSelectedFiles}}
    @updateNumSelectedFiles={{this.updateNumSelectedFiles}}
    @updateListOfDownloads={{this.updateListOfDownloads}}
    @selectedFiles={{this.selectedFiles}}
  />
</div>