<div class='file-downloader'>
  <FileDownloaderHeader
    @allFiles={{@allFiles}}
    @numSelectedFiles={{this.numSelectedFiles}}
    @updateNumSelectedFiles={{this.updateNumSelectedFiles}}
  />
  <DownloadsTable
    @allFiles={{@allFiles}}
    @numSelectedFiles={{this.numSelectedFiles}}
    @updateNumSelectedFiles={{this.updateNumSelectedFiles}}
  />
</div>